<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Prueba Logyca </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Numeros Primos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/numeros-primos']" routerLinkActive="router-link-active">Ejercicio Simple</a>
              <a class="dropdown-item" [routerLink]="['/numeros-primos-relacional']" routerLinkActive="router-link-active">Con base de datos Relacional</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Numeros Gemelos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/numeros-gemelos']" routerLinkActive="router-link-active">Ejercicio Simple</a>
            <a class="dropdown-item" [routerLink]="['/numeros-gemelos-relacional']" routerLinkActive="router-link-active">Con base de datos Relacional</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>