<div class="container caja">
  <h1 class="titulo">Ejercicio 3 (implementando el punto 2)</h1>
  <p>
    Desarrolle una API REST en el framework/lenguaje de su elección que tenga un
    endpoint GET para cada uno de los dos puntos anteriores. Cada endpoint debe
    devolver todos los elementos, y recibir como parametro n, el número de
    elementos que deseamos obtener.
  </p>
</div>

<div class="container caja">
  <p>Api para obtener una cantidad N de numeros gemelos</p>
  <form
    (ngSubmit)="getListaNumerosGemelos(numeros.numeros)"
    class="form-inline"
  >
    <div class="form-group mb-2">
      <label for="staticEmail2" class="sr-only"></label>
      <input
        type="text"
        readonly
        class="form-control-plaintext"
        id="staticEmail2"
        value="Inserte el valor de N"
      />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input
        [(ngModel)]="numeros.numeros"
        name="n"
        type="number"
        class="form-control"
        placeholder="Escriba un numero"
      />
    </div>
    <button type="submit" class="btn btn-info mb-2">Mostrar</button>
  </form>
</div>
<div class="container caja row">
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center">Lista de Numeros Gemelos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let em of listaNumerosGemelos">
          <td class="text-center">{{ em }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <style>
    .caja {
      padding-top: 50px;
    }

    .titulo {
      color: #848180;
    }
  </style>
</div>
